$white: #f6f9fd;
$black: #303030;
$blue: #00389c;
$yellow: #e0b13b;
$purple: #8d608b;
$gray: #dcd9d9c8;
$success: #00df66;
$error: #ed1c24;
$bg_blur: #f0f0f0d5;
$teal:#66b2b2;
$primary: #6EA8FE;
$secondary: #660FF2;
$accordion-active-color:#660FF2;